body{
    background-color: rgb(180, 217, 247);
    color: rgb(65, 152, 223);
    margin: 0px;
    font-family: "Dancing Script", cursive;
    margin-bottom: 100px;
}
header {
        border-bottom: solid 2px rgb(53, 110, 148);
        padding: 20px;
        font-size: 32px;
        color: rgb(5, 80, 131);
    }
    
.chamada  {
        background: rgb(5, 80, 131);
        padding-bottom: 80px;
        padding-top: 80px;
        display: flex;
        justify-content: center;
}
    
.chamada-texto{
        margin-right: 5%;
 }

 h1 {
    font-size: 30px ;
 }

 p{ 
    font-size: 20px; ;
 }

 .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }

  /* código omitido */

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }

  .categoria-videos img {
    opacity: 0.5;
    height: 200px
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid green;
}