body{
    background-color: rgb(180, 217, 247);
    color: rgb(65, 152, 223);
}

header {
        border-bottom: solid 2px rgb(28, 106, 158);
        padding: 20px;
        font-size: 32px;
        color: rgb(28, 106, 158);
    }
    
section {
        background: rgb(180, 217, 247);
        padding-bottom: 80px;
        padding-top: 80px;
        display: flex;
        justify-content: center;
}
    
.chamada-texto{
        margin-right: 5%;
 }