body{
    background-color: rgb(180, 217, 247);
    color: rgb(65, 152, 223);
    font-family: "Dancing Script", cursive;
}
header {
        border-bottom: solid 2px rgb(53, 110, 148);
        padding: 20px;
        font-size: 32px;
        color: rgb(5, 80, 131);
    }
    
section {
        background: rgb(180, 217, 247);
        padding-bottom: 80px;
        padding-top: 80px;
        display: flex;
        justify-content: center;
}
    
.chamada-texto{
        margin-right: 5%;
 }

 h1 {
    font-size: 30px ;
 }

 p{ 
    font-size: 20px; ;
 }